<app-menu></app-menu>
<section class="heading">
    <span class="page-title font-weight-bold font-italic">[{{title}}]</span>
    <a routerLink='/actor-create'>
      <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
  </a>
  </section>
  <table class="table table-sm table-striped">
  <thead>
      <tr>
        <th>Id</th><th>FirstName</th><th>LastName</th><th>BirthDate</th><th>Action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor= 'let actor of actors'>
      <td>{{actor.id}}</td>
      <td>{{actor.firstName}}</td>
      <td>{{actor.lastName}}</td>
      <td>{{actor.birthdate}}</td>
      <td><a routerLink='/actor-detail/{{actor.id}}'>
        <img width='20' height='20' src='assets/details.png' title='Actor Details'></a> | 
        <a routerLink='/actor-edit/{{actor.id}}'>
        <img width='20' height='20' src='assets/pencil-icon.png' title='Actor Edit'></a>
     </td>
    </tr>
  </tbody>
</table>
