<app-menu></app-menu>
<section class="heading">
    <span class="component-title">[{{title}}]</span>
  </section>
 
  <main *ngIf= 'actor'class="single">
    <table class="table table-sm">
      <tr>
        <td>
            firstName:
        </td>
        <td>
            <input [(ngModel)]="actor.firstName" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            lastName:
        </td>
        <td>
            <input [(ngModel)]="actor.lastName" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
            Gender:
        </td>
        <td>
            <input [(ngModel)]="actor.gender" class="rounded" type="text">
        </td>
      </tr>
      <tr>
        <td>
           Birthdate:
        </td>
        <td>
            <input [(ngModel)]="actor.birthdate" class="rounded" type="date">
        </td>
      </tr>
    </table>
  </main>
  <span><button (click)="save()" class="btn btn-sm btn-primary">{{submitBtnTitle}}</button></span> |
  
 <!--
  <span><button (click)="backClicked()" class="btn btn-sm btn-primary">Back</button></span>

-->


